name: Run E2E Tests

# on: [pull_request]
on: [push]

jobs:
  run-e2e-tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest

    env:
      SECRET_HASH: testing
      DATABASE_URL: "postgresql://postgres:docker@localhost:5432/click-short?schema=public"

    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: docker
          POSTGRES_DB: click-short

      redis:
        image: redis:7
        ports:
          - 6379:6379

    steps:
      - uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run Prisma migrations
        run: pnpm prisma migrate deploy

      - name: Generate Prisma Client
        run: pnpm prisma generate

      - name: Run e2e tests
        run: pnpm run test:e2e
        
